<!DOCTYPE html>
<html>
<head>
  <title>DRAWING.IO</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
  <div class="navbar">
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DRAWING.IO</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <$ if (user) { $>
        <li><a href="/logout">Logout</a></li>
        <$ } else { $>
        <li><a href="/auth/google">Login with Google</a></li>
        <$ } $>
      </ul>
    </div>
  </div>
</nav>
      <!-- <div class="nav-wrapper">
        <a href="" class="brand-logo left">DRAWING.IO</a> -->
<!-- new html below -->
        <!-- <ul class="right">
          <$ if (user) { $>
          <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
          <$ } else { $>
          <li><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
          <$ } $>
        </ul>
      </div>
    </nav> -->
  </div>
  <!-- <div class="row">
    <div class="col s4"> -->
      <!-- search -->
      <!-- <div class="input-field">
        <input id="search" type="search" placeholder="search name">
        <i class="material-icons">close</i>
      </div>
    </div>
    <div class="col s8">
      <form action="" class="input-field right">
        <input name="sort" type="radio" id="sortCohort" class="with-gap" checked>
        <label for="sortCohort">Sort by Cohort</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="sort" type="radio" id="sortName" class="with-gap">
        <label for="sortName">Sort by Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </form>
    </div> -->
  <!-- </div> -->

  <!-- <div class="row"> -->
    <!-- students will be rendered within the #students div -->
    <!-- <div id="students" class="col s12"></div>
  </div> -->

  <!-- underscore template / note: ejs was configured to use different tags in server.js -->
  <!-- <script type="text/template" id="studentTemplate">
    <h2 class="blue-grey-text text-darken-2">Students</h2>
    <% students.forEach(function(student) { %>
      <div class="card blue-grey student">
        <div class="card-content white-text">
          <div>
          <i class="small material-icons">perm_identity</i>
          <span class="card-title"><%= student.name %></span>
          <% if (student.cohort) { %><span class="badge white">WDI <%= student.cohort %></span><% } %>
          </div>
          <ul class="collection">
            <% student.facts.forEach(function(fact) { %>
              <li class="collection-item blue-grey-text text-darken-2"><%= fact.text %></li>
            <% }) %>
            <% if (student._id === userId) { %>
              <div class="card-action">
                <input type="text" id="fact" class="white-text">
                <input type="button" class="btn white-text"
                    onclick="addFact()" value="Add Fact">
              </div>
            <% } %>
          </ul>
        </div>
      </div>
    <% }) %>
  </script> -->

  <script>
  var userId = '';
  <$ if (user) { $>
    userId = '<$= user.id $>';
  <$ } $>
</script>

  <!-- jQuery (required by Materialize) -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Using Underscore for collection manipulation and client-side templatin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <!-- special route created by socket.io on the server -->
  <script src="/socket.io/socket.io.js"></script>

  <script src="javascripts/app.js"></script>


</body>
</html>
