#chatbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px; }

#m {
  width: 70%;
  display: inline-block; }

#chatsend {
  margin-bottom: 3px; }

#upMsg {
  display: block; }

#draw {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 650px) {
  #draw {
    height: 700px; } }
