#main-container {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; }

.navbar {
  margin-bottom: 0; }

#chatbox-canvas-container {
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  flex-direction: row; }

#chatbox-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: flex-end;
  /*margin-top: 1px;*/
  height: 100%;
  box-shadow: 0px 0px 1px #666;
  background-color: #eee; }

#draw-container {
  flex: 7;
  height: 100%; }

#draw {
  width: 100%;
  height: 89vh; }

#chatbar {
  padding-left: 1em; }

#m {
  margin-top: 3px;
  width: 70%;
  float: left; }

#chatsend {
  margin-top: 3px;
  margin-bottom: 1em;
  margin-left: 2em;
  width: 20%; }

#upMsg {
  display: block; }

@media screen and (max-width: 650px) {
  #draw {
    height: 700px; } }
